@*Shailendra Shukla - 301057291*@

@model Club
@{
    ViewData["Title"] = "Create Club";
}

<div class="container m-2 mx-auto">
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name">Club name</label>
            <input asp-for="Name" class="form-control" placeholder="Barsenal FC">
        </div>
        <div class="form-group">
            <label asp-for="Manager">Manager name</label>
            <input asp-for="Manager" class="form-control" placeholder="Michael Bartate">
        </div>
        <div class="form-group">
            <label asp-for="Stadium">Arena/Stadium</label>
            <input asp-for="Stadium" class="form-control" placeholder="Scotiadank Arena">
        </div>
        <div class="form-group">
            <label asp-for="Owner">Owner</label>
            <input asp-for="Owner" class="form-control" placeholder="The Best Co.">
        </div>
        <div class="form-group">
            <label asp-for="Website">Website</label>
            <input asp-for="Website" class="form-control" placeholder="www.barsenalfc.com">
        </div>

        <div class="form-group">
            <label asp-for="Location">Location</label>
            <input asp-for="Location" class="form-control" placeholder="Barcelona" />
        </div>

        <div class="form-group">
            <label asp-for="Description">Club Description</label>
            <textarea asp-for="Description" class="form-control" rows="3" placeholder="Type something awesome here..."></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit" name="submit" value="submit">Create Club</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
