@{
    ViewData["Title"] = "Create Club";
}

<div class="container m-2 mx-auto">
    <form asp-action="Index">
        <div class="form-group">
            <label for="name">Club name</label>
            <input type="text" class="form-control" id="name" placeholder="Barsenal FC">
        </div>
        <div class="form-group">
            <label for="manager">Manager name</label>
            <input type="text" class="form-control" id="manager" placeholder="Michael Bartate">
        </div>
        <div class="form-group">
            <label for="stadium">Arena/Stadium</label>
            <input type="text" class="form-control" id="stadium" placeholder="Scotiadank Arena">
        </div>
        <div class="form-group">
            <label for="owner">Owner</label>
            <input type="text" class="form-control" id="owner" placeholder="The Best Co.">
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="owner" placeholder="www.barsenalfc.com">
        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <select class="form-control" id="location">
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NS">Nova Scotia</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunavut</option>
                <option value="YT">Yukon</option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">Club Description</label>
            <textarea class="form-control" id="description" rows="3" placeholder="Type something awesome here..."></textarea>
        </div>

        <button class="btn btn-success" type="submit" name="submit" value="submit">Create Club</button>
    </form>
</div>
