@{
    ViewData["Title"] = "Add Player";
}

<div class="container m-2 mx-auto">
    <form asp-action="Index">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Christiano Someone">
        </div>
        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="text" class="form-control" id="salary" placeholder="100,000">
        </div>
        <div class="form-group">
            <label for="club">Club</label>
            <input type="text" class="form-control" id="club" placeholder="The Best Soccer Club">
        </div>
        <div class="form-group">
            <label for="number">Number</label>
            <input type="text" class="form-control" id="number" placeholder="10">
        </div>
        <div class="form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" id="position" placeholder="Forward">
        </div>

        <div class="form-group">
            <label for="description">Player Description</label>
            <textarea class="form-control" id="description" rows="3" placeholder="Type something awesome here..."></textarea>
        </div>

        <button class="btn btn-success" type="submit" name="submit" value="submit">Add Player</button>
    </form>
</div>
